<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta name="description" content="Two guys in an RV documenting the American traditions of roadtrips, tailgating, and pro football. 17 weeks. 32 games. 25,000 miles." />
  <meta name="keywords" content="Tailgate32, Tailgate, 32, tailgating, Tailgate 32, roadtrips, road trips, pro football, 17 weeks, 32 gmaes, 25000 miles, documentary, experience, journey, RV, cross country" />
  
  {% assign maxmeta = 155 %}
  {% if template contains 'product' %}
  <meta name="description" content="{{ product.description | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
  {% elsif template contains 'page' %}
  <meta name="description" content="{{ page.content | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
  {% elsif template == 'index' and shop.description != '' %}
  <meta name="description" content="{{ shop.description }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" /> 
  <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|PT+Sans|PT+Serif' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" type="text/css" href="http://assets.tailgate32.com/css/tailgate32.css" />
  <link rel="stylesheet" href="http://assets.tailgate32.com/js/fancybox/source/jquery.fancybox.css?v=2.0.6" type="text/css" media="screen" />
  <link rel="icon" type="image/png" href="http://assets.tailgate32.com/images/favicon.ico" />
  {{ 'style.css' | asset_url | stylesheet_tag }}

  {% if template == 'index' %}
   <title>{{ shop.name }}: The Store</title>
  {% elsif template == '404' %}
    <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
   <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  {{ 'modernizr.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}  

  {{ content_for_header }}
</head>
<body class="{% if customer %}customer-logged-in {% endif %}template{{ template | split: '.' | first | camelize }}">
  <div id="navigation">
    <div id="social-media-header">
      <a href="https://twitter.com/#!/tailgate_32" target="_blank" title="Follow @tailgate_32 on Twitter"><img src="http://assets.tailgate32.com/images/icon_twitter.png" alt="See @tailgate_32 on Twitter" /></a>
      <a href="https://www.facebook.com/tailgate32" target="_blank" title="Like Tailgate32 on Facebook"><img src="http://assets.tailgate32.com/images/icon_facebook.png" alt="Find Tailgate32 on Facebook" /></a>
      <a href="http://www.youtube.com/user/tailgate32" target="_blank" title="The Official Tailgate32 YouTube Channel"><img src="http://assets.tailgate32.com/images/icon_youtube.png" alt="Subscribe to the Tailgate32 YouTube channel" /></a>
    </div>
    <div id="menu">
      <a href="http://tailgate32.com/about.html"><img src="http://assets.tailgate32.com/images/nav-about.png" width="102" height="35" /></a>
      <a href="http://tailgate32.com/play"><img src="http://assets.tailgate32.com/images/nav-episodes.png" alt="Tailgate32 Episodes" width="102" height="35" /></a>
      <a target="_blank" href="http://bit.ly/tailgate32-b-sides"><img src="http://assets.tailgate32.com/images/nav-b-sides.png" alt="B-Sides" width="102" height="35" /></a>
      <a href="http://blog.tailgate32.com/"><img src="http://assets.tailgate32.com/images/nav-blog.png" alt="Tailgate32 Blog" width="102" height="35" /></a>
      <a href="http://tailgate32.com/press.html"><img src="http://assets.tailgate32.com/images/nav-press.png" alt="Press" width="102" height="35" /></a>
      <a id="contact-us-nav" class="contact-us-link" href="#"><img src="http://assets.tailgate32.com/images/nav-contact-us.png" alt="Contact Tailgate32" width="102" height="35" /></a>
      <a href="http://store.tailgate32.com/"><img src="http://assets.tailgate32.com/images/nav-store.png" alt="Tailgate32 Store" width="102" height="35" /></a>
    </div>
    <br class="break" />
  </div>
  <div id="masthead">
    <div class="divider"></div>
    <div id="logo_container">
      <a href="http://tailgate32.com" title="Tailgate32 Home"><img src="http://assets.tailgate32.com/images/T32Header.png" alt="Tailgate32: The Ultimate Football Fan Roadtrip" /></a>
    </div>
    <div class="divider"></div>
  </div>
  <div id="main" class="row store">
  
    <div>
      <!-- Current cart -->
      <div id="umbrella">
        <ul>          
          <li class="cart-link">
            <a href="/cart" class="num-items-in-cart">
              <span class="icon">
               {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }}
              </span>
            </a>             
          </li>
          <li class="checkout-link">
            <a href="/cart" class="btn">Check out</a>
          </li>
        </ul>
      </div><!-- /#umbrella -->
      <h1>Tailgate32: <a href="http://store.tailgate32.com">The Store</a></h1>
      <br class="clear" />
    </div>
    
    <!-- Content -->
    {{ content_for_layout }}

  </div>
  <div class="divider"></div>
  <div id="footer">&nbsp;</div>
  <div id="hidden-content">
    <div id="contact-us">
      <iframe style="display: none;" name="contact.us.iframe" src="https://docs.google.com/spreadsheet/viewform?formkey=dEY2MXNvVDRBWlN1SEE0RHRyQU42d3c6MQ"></iframe>
      <div class="headline">
        <img src="http://assets.tailgate32.com/images/arrow-left.png" alt="" />
        <h2>Contact Tailgate32</h2>
        <br class="clear" />
      </div>
      <form id="contact-us-form" target="contact.us.iframe" method="POST" action="https://docs.google.com/spreadsheet/formResponse?formkey=dEY2MXNvVDRBWlN1SEE0RHRyQU42d3c6MQ&ifq">
        <p>
          Want to know more about the trip?  Got a suggestion for us?  Want to sponsor us?  
          Fill out the form below and we'll get back to you ASAP!
        </p>
        <div><label for="contact-us-name">Name</label><input id="contact-us-name" type="text" name="entry.0.single" /></div>
        <div><label for="contact-us-email">Email</label><input id="contact-us-email" type="text" name="entry.1.single" /></div>
        <div><label for="contact-us-location">Location</label><input id="contact-us-location" type="text" name="entry.2.single" /></div>
        <div><label for="contact-us-team">Favorite Team(s)</label><input id="contact-us-team" type="text" name="entry.4.single" /></div>
        <div><label for="contact-us-message" class="for-textarea">Message</label><textarea id="contact-us-message" name="entry.6.single"></textarea></div>
        <div>
          <label>&nbsp;</label>
          <input id="contact-us-submit" name="submit" type="submit" value="Submit" class="submit" />
        </div>
        <input type="hidden" name="pageNumber" value="0" />
        <input type="hidden" name="backupCache" />
      </form>
      <p id="contact-us-thanks" style="display: none;">Thank you for contacting us.  We'll respond ASAP.</p>
    </div>
  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script type="text/javascript" src="http://assets.tailgate32.com/js/fancybox/source/jquery.fancybox.pack.js?v=2.0.6"></script>
  <script type="text/javascript" src="http://assets.tailgate32.com/js/tailgate32.js"></script>
  {{ 'enhance.jquery.js' | asset_url | script_tag }}
  {{ 'hoverintent.jquery.js' | asset_url | script_tag }}
  {{ 'radiance.js' | asset_url | script_tag }}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23116100-1']);
    _gaq.push(['_setDomainName', 'footballnation.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>  
</body>
</html>
